<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/history">Історія</a>
      <a class="nav-item nav-link active" href="/create">Створити</a>
      <a class="nav-item nav-link active" href="/set-keyword">Увести ключове слово</a>
      <% if (userData === undefined) { %>
        <a class="nav-item nav-link active" href="/register">Зареєструватись</a>
        <a class="nav-item nav-link active" href="/login">Увійти</a>
      <% } else { %>
        <a class="nav-item nav-link passive">Вітаємо, <%= JSON.parse(userData).username %>!</a>
        <a class="nav-item nav-link active" href="/profile">Профіль</a>
        <a class="nav-item nav-link active" href="/logout">Вийти</a>
      <% } %>
    </div>
  </div>
</nav>